<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="contato.css" />
  </head>

  <body>
    <header>
      <h1>Receitas Deliciosas</h1>
      <p>Encontre as melhores receitas para todas as ocasiões</p>
      <nav>
        <a href="../../index.html">Home</a>
        <a href="../bolo/bolo.html">Bolos</a>
        <a href="../massa/massa.html">Massas</a>
        <a href="../omelete/omelete.html">Omeletes</a>
        <a href="../contato/contato.html">Contato</a>
      </nav>
    </header>

    <main>
      <article>
        <h2>Feedbacks!</h2>
        <p class="txtArticle">
          Entre em contato comigo para quaisquer feedbacks sobre o site!
        </p>
      </article>

      <article>
        <h2>Instagram</h2>
        <a class="link" href="https://www.instagram.com/oiagocunha/">@oiagocunha</a>
      </article>

      <article>
        <h2>GitHub</h2>
        <a class="link" href="https://github.com/oiagocunha">@oiagocunha</a>
      </article>

      <article>
        <h2>LinkedIn</h2>
        <a class="link" href="https://linkedin.com/in/oiagocunha/">@Iago Cunha</a>
      </article>
    </main>

    <footer>
      <p class="txtFooter">Todos os direitos reservados &copy; Iago Cunha.</p>
    </footer>
  </body>
</html>
