<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Macarronada com Salsicha</title>
  <link rel="shortcut icon" href="../images/livro-de-receitas.png" type="image/x-icon">
  <link rel="stylesheet" href="../../global.css">
  <link rel="stylesheet" href="massa.css">
</head>

<body>
  <header>
    <h1>Receitas Deliciosas</h1>
    <p>Encontre as melhores receitas para todas as ocasiões</p>
    <nav>
      <a href="../../index.html">Home</a>
      <a href="../bolo/bolo.html">Bolos</a>
      <a href="../massa/massa.html">Massas</a>
      <a href="../omelete/omelete.html">Omeletes</a>
      <a href="../contato/contato.html">Contato</a>
    </nav>
  </header>

  <main>
    <article>
      <h2>Macarrão com Salsicha</h2>
      <img class="macarrão" src="../images/macarrao.jpeg"
        alt="Macarronada com Salsicha" width="350px" />
      <p class="txtArticle">
        Aprenda a fazer uma deliciosa macarronada com salsicha simples caseiro, perfeito para o
        almoço ou janta. Com poucos ingredientes e passos fáceis, você terá
        este macarrão delicioso em pouco tempo!
      </p>
    </article>

    <article>
      <h3>Ingredientes</h3>
      <ul>
        <li>500g de macarrão (espaguete ou penne)</li>
        <li>5 salsichas</li>
        <li>1 lata de molho de tomate (340g)</li>
        <li>1 cebola picada</li>
        <li>2 dentes de alho picados</li>
        <li>2 colheres de sopa de óleo ou azeite</li>
        <li>Sal e pimenta a gosto</li>
        <li>Queijo parmesão ralado a gosto (opcional)</li>
      </ul>
    </article>

    <article>
      <h3>Modo de Preparo</h3>
      <ol>
        <li>Cozinhe o macarrão em água fervente com uma pitada de sal até ficar al dente;</li>
        <li>Escorra e reserve;</li>
        <li>Corte as salsichas em rodelas e reserve;</li>
        <li>Em uma panela, aqueça o óleo ou azeite e refogue a cebola e o alho até dourarem;</li>
        <li>Adicione as salsichas e deixe fritar por alguns minutos, até começarem a dourar;</li>
        <li>Acrescente o molho de tomate, ajuste o sal e a pimenta, e cozinhe por 5 a 7 minutos, até o molho engrossar
          levemente;</li>
        <li>Misture o molho com o macarrão cozido;</li>
        <li>Sirva com queijo parmesão ralado, se desejar.</li>
      </ol>
    </article>

    <article>
      <h3>Informações Nutricionais</h3>
      <table>
        <tr>
          <th class="infoGrama" colspan="5">
            Valor nutricional aproximado por porção (baseado em 6 porções de 250g cada):
          </th>
        </tr>
        <tr>
          <th>Nutriente</th>
          <th>Quantidade</th>
          <th>% Valor Diário*</th>
        </tr>
        <tr>
          <td>Calorias</td>
          <td class="quant">380 kcal</td>
          <td class="valor">19%</td>
        </tr>
        <tr>
          <td>Carboidratos</td>
          <td class="quant">55g</td>
          <td class="valor">18%</td>
        </tr>
        <tr>
          <td>Proteínas</td>
          <td class="quant">12g</td>
          <td class="valor">16%</td>
        </tr>
        <tr>
          <td>Gorduras Totais</td>
          <td class="quant">12g</td>
          <td class="valor">22%</td>
        </tr>
        <tr>
          <td>Gorduras Saturadas</td>
          <td class="quant">4g</td>
          <td class="valor">20%</td>
        </tr>
        <tr>
          <td>Fibra Alimentar</td>
          <td class="quant">3g</td>
          <td class="valor">12%</td>
        </tr>
        <tr>
          <td>Sódio</td>
          <td class="quant">900mg</td>
          <td class="valor">39%</td>
        </tr>
        <tr>
          <td class="infoGrama" colspan="3">
            *Valores diários baseados em uma dieta de 2000 kcal.
          </td>
        </tr>
      </table>
    </article>
  </main>

  <footer>
    <p class="txtFooter">
      Todos os direitos reservados &copy; Iago Cunha.
    </p>
  </footer>
</body>

</html>
